
# General Files ---------------------------------------------------------------
data

# Extra Python files.
__init__.py
__main__.py
code/__pycache__/
.ipynb_checkpoints/
.vscode/
.html
# Hidden Files ----------------------------------------------------------------
/**/.*

# Data Files ------------------------------------------------------------------
data/